<div class="row justify-content-sm-center">
  <div class="col-sm-6">
    <form [formGroup]="customerForm" (ngSubmit)="handleSubmit()">
      <!-- firstname -->
      <div class="form-group">
        <label>First name</label>
        <input class="form-control" placeholder="Provide your name" type="text" formControlName="firstName"/>
        <span class="text-danger" *ngIf="firstName.invalid && firstName?.touched">
          firstName is invalid
      </span>
      </div>

      <!-- lastName -->
      <div class="form-group">
        <label>lastName</label>
        <input class="form-control" placeholder="Provide your lastName" type="text" formControlName="lastName"/>
        <span class="text-danger" *ngIf="lastName?.invalid && lastName?.touched">
          LastName is invalid
        </span>
      </div>

      <!-- email -->
      <div class="form-group">
        <label>Email Address</label>
        <input class="form-control" placeholder="Provide your email address" required type="email" formControlName="email"/>
        <span class="text-danger" *ngIf="email?.invalid && email?.touched">
          Email is invalid
        </span>
      </div>

      <!-- password -->
      <div class="form-group">
        <label>Password Address</label>
        <input class="form-control" placeholder="Provide your password" required type="text" formControlName="password"/>
        <span class="text-danger" *ngIf="password?.invalid && password?.touched">
          password is invalid
        </span>
      </div>

      <div class="form-group">
        <ng-multiselect-dropdown
          [settings]="dropdownSettings"
          [data]="userRolesArray"
          [formControl]="customerForm.controls.get(">
        </ng-multiselect-dropdown>
      </div>


      <div class="form-group">
        <button type="submit"  class="btn btn-denim btn-custom-width">
      Send
        </button>
      </div>
    </form>
  </div>
</div>
