<!-- header -->
<div class="container-fluid">
  <div class="container col-md-6 offset-md-3 mt-2">
    <div class="row pt-5 pb-3 text-center border-bottom">
      <h1>Add/Edit item</h1>
      <p></p>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="container col-md-6 offset-md-3 border-bottom">
    <div class="row pt-3">
      <h5>Add/Edit item</h5>
      <p>
        On this page the user can update his item or add an item. When adding an
        item, the user will see an empty form and when editing an item, the user
        will see the old values first. The changes are immediately visible on other
        pages
      </p>
    </div>
  </div>
</div>

<!-- Add/Edit item form -->
<div class="container-fluid">
  <div class="container">
    <div class="row justify-content-center p-3">
      <div class="col-5">
        <div *ngIf="isAddMode; else isEditMode">
          <h3>Add item</h3>
        </div>
        <ng-template #isEditMode>
          <h3>Edit item</h3>
        </ng-template>
        <ul>
          <li>All fields are required</li>
          <li>Whitespace texts are not possible</li>
          <li>Custom validation is used</li>
          <li>'Submit' button will be enabled once all values are correct</li>
          <li>
            Angular sends the data to a Spring Boot application and Spring Boot
            will ensure that the data is stored in the database
          </li>
          <li>
            The item is stored in the database, see schedule to-do for more information
          </li>
          <li>
            For more information about the back end of the application see the
            To-Do-app-springboot application
          </li>
          <li>
            For more info about the database of the application see the see the
            starter files of this project.
          </li>
        </ul>
      </div>
      <div class="col-5">
        <h5 *ngIf="isAddMode">Add item</h5>
        <h5 *ngIf="!isAddMode">Update item: {{itemId}}</h5>
        <form
          [formGroup]="addEditItemFormGroup"
          (ngSubmit)="onSubmit()"
          novalidate
        >

          <!-- title -->
          <div class="form-group form-outline mb-3">
            <input
              class="form-control"
              placeholder="Title"
              id="title"
              type="text"
              formControlName="title"
              maxlength="100"
              [ngClass]="{
                'is-invalid': getTitle.touched && getTitle.errors,
                'is-valid': getTitle.valid}"
            />
            <div *ngIf="getTitle.touched && getTitle.errors" class="invalid-feedback">
              <div *ngIf="getTitle.errors.required || getTitle.errors.notOnlyWhitespace">
                Title is required!
              </div>
            </div>
          </div>

          <!-- Content -->
          <div class="form-group form-outline mb-3">
            <textarea
              class="form-control"
              placeholder="Input text"
              id="content"
              formControlName="content"
              rows="10"
              maxlength="470"
              [ngClass]="{
                'is-invalid': getContent.touched && getContent.errors,
                'is-valid': getContent.valid}"
            >
            </textarea>
            <div *ngIf="getContent.touched && getContent.errors" class="invalid-feedback">
              <div *ngIf=" getContent.errors.required || getContent.errors.notOnlyWhitespace">
                Text is required!
              </div>
            </div>
          </div>

          <!-- Status -->
          <div class="form-group form-outline mb-3">
            <div class="row">
              <div class="col-md-2"><label>Status</label></div>
              <div class="col-md-9">
                <div class="input-space">
                  <select formControlName="status">
                    <option *ngFor="let status of statuses" [ngValue]="status">
                      {{status}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <!-- userRoles -->
          <div class="form-group form-outline mb-3">
            <label>Categories</label>
            <ng-select
              [items]="categories"
              [multiple]="true"
              bindLabel="name"
              formControlName="category"
              [ngClass]="{
                'is-invalid': getCategory.touched && getCategory.errors,
                'is-valid': getCategory.valid}"
            >
            </ng-select>
            <div *ngIf="getCategory.touched && getCategory.errors" class="invalid-feedback">
              <div *ngIf="getCategory.errors.required">
                select at least one category
              </div>
            </div>
          </div>
          <button
            type="submit"
            class="btn btn-light-green"
            [disabled]="!addEditItemFormGroup.valid"
          >
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- all items -->
<div class="container-fluid">
  <div class="container border-top pt-3">
    <div *ngIf="!isAddMode" class="row py-3">
      <div class="col-4">
        <button class="btn btn-middle-green" [routerLink]="['/items/add/']">
          add Item
        </button>
      </div>
    </div>
    <div class="row">
      <h5>Items: {{email}}</h5>
      <div class="col">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Email</th>
              <th scope="col">Title</th>
              <th scope="col">Content</th>
              <th scope="col">Category</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let itemCategory of itemCategories">
              <td>{{itemCategory.item.id}}</td>
              <td>{{itemCategory.item.user.email}}</td>
              <td>{{itemCategory.item.title}}</td>
              <td>{{itemCategory.item.content}}</td>
              <td>
                <ul>
                  <li *ngFor="let category of itemCategory.categories">
                    {{category.name}}
                  </li>
                </ul>
              </td>
              <td>{{itemCategory.item.status}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
