<!-- Footer -->
<footer>
  <div class="container-fluid">
    <div class="row border-top pt-3 ">
      <p class="copyright text-center">
        Copyright &copy; made by
        <a href="https://www.noredjo.com" target="_blank">Rio Noredjo</a>
        <!-- Github -->
        <a
          class="btn btn-link btn-floating btn-lg"
          href="https://github.com/Rio-Noredjo"
          target="_blank"
          role="button"
        ><fa-icon class="fa-color-steel" [icon]="faGithub"></fa-icon
        ></a>
        <!-- linkedIn -->
        <a
          class="btn btn-link btn-floating btn-lg"
          href="https://www.linkedin.com/in/riordon-noredjo/"
          target="_blank"
          role="button"
        ><fa-icon
          class="fa-color-steel"
          [icon]="faLinkedin"
          href="#"
        ></fa-icon
        ></a>
      </p>
    </div>
  </div>
</footer>
