<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Collapsible wrapper -->
    <div *ngIf="loginService.isUserLoggedIn()" class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- Left links -->
      <ul  class="navbar-nav me-auto mb-2 mb-lg-0">
        <li><a [routerLink]="['/home']" class="nav-link">{{this.email}}</a></li>
        <li><a *ngIf="loginService.isAccessUserRoles([UserRoleResult.ADMIN])" [routerLink]="['/users']" class="nav-link">All users</a></li>
        <li><a *ngIf="loginService.isAccessUserRoles([UserRoleResult.ADMIN])" [routerLink]="['/users/add']" class="nav-link">Add User</a></li>
        <li><a *ngIf="loginService.isAccessUserRoles([UserRoleResult.ADMIN])" [routerLink]="['/items']" class="nav-link">All to-do items</a></li>
        <li><a *ngIf="loginService.isAccessUserRoles([UserRoleResult.CUSTOMER])" (click)="userItems()" class="nav-link">My items</a></li>
        <li><a *ngIf="loginService.isAccessUserRoles([UserRoleResult.CUSTOMER])" [routerLink]="['/items/add']" class="nav-link">Add item</a></li>
      </ul>


    <!-- Right elements -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li> <button (click)="logout()" class="btn btn-primary">logout</button>
      </ul>
      <!-- Left links -->
    </div>
      </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
