<div class="container-fluid">
  <div class="container col-md-6 offset-md-3 mt-2">
    <div class="row pt-5 pb-3 text-center border-bottom">
      <h1>Items</h1>
      <p></p>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="container col-md-6 offset-md-3">
    <div class="row pt-3">
      <h5>Items</h5>
      <div *ngIf="allItems; else myItems">
        <p>
          Here you will find all items. You can only see
          this page if you have the correct permissions
        </p>
      </div>
      <ng-template #myItems>
        <p>Here you will find your items.</p>
      </ng-template>

    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="container border-top pt-3">
    <div *ngIf="!allItems" class="row py-3">
      <div class="col-4">
        <button class="btn btn-middle-green" [routerLink]="['/items/add/']">
          Add item
        </button>
      </div>
    </div>
    <div class="row">
      <h5 *ngIf="allItems">Items: all users</h5>
      <h5 *ngIf="!allItems">Items: {{email}}</h5>
      <div class="col">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Email</th>
              <th scope="col">Title</th>
              <th scope="col">Content</th>
              <th scope="col">Category</th>
              <th scope="col">Status</th>
              <th scope="col">Edit</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let itemCategory of this.itemCategory">
              <td>{{ itemCategory.item.id }}</td>
              <td>{{ itemCategory.item.user.email }}</td>
              <td>{{ itemCategory.item.title }}</td>
              <td>{{ itemCategory.item.content }}</td>
              <td>
                <ul>
                  <li *ngFor="let category of itemCategory.categories">
                    {{ category.name }}
                  </li>
                </ul>
              </td>
              <td>{{ itemCategory.item.status }}</td>
              <td>
                <p>
                  <button class="btn btn-secondary"
                          [disabled]="email !== itemCategory.item.user.email"
                          [routerLink]="['/items/edit/', itemCategory.item.id]"
                  >
                    Edit
                  </button>
                </p>
              </td>
              <td>
                <button class="btn btn-danger"
                        (click)="deleteItem(itemCategory.item.id)"
                        [disabled]="itemCategory.item.status === 'Close'"
                >
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
