<div class="row py-3">
  <div class="col border">
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Title</th>
    <th scope="col">Content</th>
    <th scope="col">Category</th>
    <th scope="col">Status</th>
    <th scope="col">Edit</th>
    <th scope="col">Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let itemCategory of this.itemCategory">
    <td>{{ itemCategory.item.id }}</td>
    <td>{{ itemCategory.item.title }}</td>
    <td>{{ itemCategory.item.content }}</td>
    <td>
      <ul><li *ngFor="let category of itemCategory.categories">{{ category.name }}</li></ul>
    </td>
    <td>{{ itemCategory.item.status }}</td>

    <td>
      <p>
        <button class="btn btn-secondary" [routerLink]="['/items/edit/', itemCategory.item.id]">Edit</button>
    </td>
    <td>
      <button class="btn btn-danger" tooltip="test" (click)="deleteItem(itemCategory.item.id)" [disabled]="itemCategory.item.status === 'Close'">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
  </div>
</div>
