<div class="container-fluid">
  <div class="container col-md-6 offset-md-3 mt-2">
    <div class="row pt-5 pb-3 text-center border-bottom">
      <h1>Users</h1>
      <p></p>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="container col-md-6 offset-md-3">
    <div class="row pt-3">
      <h5>Users</h5>
      <p>
        Here you will find all users. As an Admin user you can apply CRUD to
        users through this page.
      </p>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="container border-top pt-3">
    <div class="row py-3">
      <div class="col-4">
        <button class="btn btn-middle-green" [routerLink]="['/users/add/']">
          add user
        </button>
      </div>
    </div>

    <div class="row">
      <h5>All users</h5>
      <div class="col">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Firstname</th>
              <th scope="col">Lastname</th>
              <th scope="col">Email address</th>
              <th scope="col">User Roles</th>
              <th scope="col">Country</th>
              <th scope="col">State</th>
              <th scope="col">City</th>
              <th scope="col">Street</th>
              <th scope="col">Zip code</th>
              <th scope="col">Edit</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of this.users">
              <td>{{ user.id }}</td>
              <td>{{ user.firstName }}</td>
              <td>{{ user.lastName }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.userRoles }}</td>
              <td>{{ user.address?.country?.name }}</td>
              <td>{{ user.address?.state }}</td>
              <td>{{ user.address?.city }}</td>
              <td>{{ user.address?.street }}</td>
              <td>{{ user.address?.zipCode }}</td>
              <td>
                <p>
                  <button
                    class="btn btn-secondary"
                    [routerLink]="['/users/edit/', user.id]"
                  >
                    Edit
                  </button>
                </p>
              </td>

              <td>
                <button class="btn btn-danger" (click)="deleteUser(user.id)">
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
